header,
section,
footer {
  padding: 0 8.33vw;
}

.top-subnav_bg {
  display: none;
}

.top-bg-wrapper {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: initial;
  border-radius: 0px 0px 12px 12px;
}
.top-bg-wrapper::before {
  position: absolute;
  left: 2%;
  bottom: -10px;
  content: "";
  width: 96vw;
  height: 10px;
  background-color: #cacadb;
  border-radius: 0 0 12px 12px;
  z-index: -1;
}
.top-bg-wrapper::after {
  position: absolute;
  left: 4%;
  bottom: -20px;
  content: "";
  width: 92vw;
  height: 10px;
  background-color: #e7e7f2;
  border-radius: 0 0 12px 12px;
  z-index: 0;
}

.dot-separator {
  background-color: #e6e6f0;
  width: 6px;
  height: 6px;
  border-radius: 100px;
}

header {
  position: relative;
  background: url(../img/services/Symbol.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-attachment: unset;
  height: 20vh;
  border-radius: 0px 0px 12px 12px;
}
header #desktop-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #tablet-nav,
header #mobile-nav {
  display: none;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header .top-nav {
  color: #ffffff;
  padding-top: 52.5px;
}
header .top-nav .top-subnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.2rem;
}
header .top-nav .lang-btn {
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 1px;
  padding: 5px 7px;
  transition: 0.5s;
}
header .top-nav .lang-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
header .top-nav .lang-btn-active {
  background-color: #f0145a;
  padding: 5px 7px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 700;
}
header .top-nav .address-top {
  font-weight: 400;
}
header .top-nav .phone-top {
  font-weight: 700;
}
header .top-nav .phone-top:hover {
  border-bottom: 2px solid #ffffff;
}
header .top-nav .fb-logo {
  background-image: url(../img/services/facebook-header.svg);
  width: 24px;
  height: 24px;
  transition: 0.5s;
}
header .top-nav .fb-logo:hover {
  background-image: url(../img/services/facebook-header-hover.svg);
}
header .top-nav .top-subnav__link {
  font-weight: 700;
}
header .top-nav .top-subnav__link:hover {
  border-bottom: 2px solid #ffffff;
}
header .top-nav .top-subnav__link:active {
  color: #f0145a;
  border-color: #f0145a;
}

#services {
  padding-bottom: 60px;
}
#services h3,
#services a {
  text-decoration: none;
  color: #24a3ff;
  transition: all 0.5s;
  padding-bottom: 60px;
}
#services h3:hover,
#services a:hover {
  color: #f0145a;
}
#services .h3-caps {
  padding-bottom: 10px;
}
#services h2 {
  padding-bottom: 60px;
}
#services .service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  gap: 60px;
}
#services .service-container .service-card {
  width: calc(33.3333333333% - 60px);
}
#services .service-container .service-card img {
  width: 92px;
  height: 92px;
  margin-bottom: 30px;
}
#services .service-container .service-card h3 {
  padding-bottom: 15px;
}
#services .service-container .service-card p {
  color: #ffffff;
}

#trust-us {
  padding: 60px 5.2vw 60px 5.2vw;
}
#trust-us h3 {
  text-align: center;
  padding-bottom: 30px;
}
#trust-us .brand-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  border-radius: 12px;
}
#trust-us .brand-container .brand-container__item {
  width: 25%;
}
#trust-us .brand-container .brand-container__item img {
  width: 100%;
  height: 100%;
}
#trust-us .brand-container .brand-container__item:nth-child(1) img {
  border-radius: 12px 0 0 0;
}
#trust-us .brand-container .brand-container__item:nth-child(4) img {
  border-radius: 0 12px 0 0;
}
#trust-us .brand-container .brand-container__item:nth-child(9) img {
  border-radius: 0 0 0 12px;
}
#trust-us .brand-container .brand-container__item:nth-child(12) img {
  border-radius: 0 0 12px 0;
}

.grey-separator {
  width: 100%;
  height: 2px;
  background-color: #e6e6f0;
  margin: 30px auto;
}

footer {
  background-color: #f5f5fa;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer a {
  text-decoration: none;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .footer-container .footer-container__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
footer .footer-container .footer-container__item:first-child {
  padding-bottom: 21px;
}
footer .footer-container .footer-container__item .footer-container__address h4 a {
  color: #323264;
  transition: all 0.5s;
  font-weight: 400;
}
footer .footer-container .footer-container__item .footer-container__address h4 a:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}
footer .footer-container .footer-container__item .dot-separator {
  background-color: #b3b3ba;
}
footer .footer-container .footer-container__item .footer-container__link a {
  text-transform: uppercase;
  color: #24a3ff;
  font-size: 12px;
  transition: all 0.5s;
  font-weight: 700;
}
footer .footer-container .footer-container__item .footer-container__link a:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}
footer .footer-container .footer-container__item .footer-container__copyright {
  margin-left: auto;
}
footer .footer-container .footer-container__item .footer-container__copyright h4 {
  color: #b3b3ba;
}
footer .footer-container a .fb-logo {
  background-image: url(../img/services/facebook-footer.svg);
  width: 38px;
  height: 38px;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-container a .fb-logo:hover {
  width: 38px;
  height: 38px;
  background-image: url(../img/services/facebook-header-hover.svg);
}
footer .footer-container .phone-bottom {
  color: #46466e;
  font-weight: 700;
  transition: all 0.5s;
}
footer .footer-container .phone-bottom:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}
footer .footer-container .footer-container__email {
  color: #24a3ff;
  font-weight: 700;
  transition: all 0.5s;
}
footer .footer-container .footer-container__email:hover {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

@media (max-width: 1919px) {
  header,
section,
footer {
    padding: 0 60px;
  }
  #trust-us {
    padding: 40px 0 0 0;
  }
  #trust-us .brand-container .brand-container__item:nth-child(1) img, #trust-us .brand-container .brand-container__item:nth-child(4) img, #trust-us .brand-container .brand-container__item:nth-child(9) img, #trust-us .brand-container .brand-container__item:nth-child(12) img {
    border-radius: 0;
  }
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  header {
    background-size: cover;
    height: 30vh;
  }
  header #desktop-nav {
    display: none;
  }
  header #tablet-nav {
    display: block;
  }
  header .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  #services .service-container .service-card {
    width: calc(50% - 60px);
  }
  #trust-us .brand-container .brand-container__item {
    width: 33.3333333333%;
  }
}
@media (max-width: 767px) {
  header,
section,
footer {
    padding: 0 30px;
  }
  .top-subnav_bg {
    position: fixed;
    top: 0;
    display: block;
    background: rgba(245, 245, 250, 0.2);
    width: 100vw;
    height: 45px;
    z-index: 1;
  }
  header {
    height: 15vh;
  }
  header #desktop-nav,
header #tablet-nav {
    display: none;
  }
  header #mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  header .top-nav {
    padding-top: 15px;
    gap: 6px;
  }
  header .top-nav .top-subnav {
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 1rem;
    width: 100%;
  }
  header .top-nav .top-subnav:first-child {
    z-index: 2;
  }
  header .top-nav .top-subnav .top-subnav__item.top-subnav__item_phone {
    position: fixed;
    right: 6%;
  }
  header .top-nav .logo-top img {
    width: 179px;
    height: 36px;
  }
  header .top-nav .top-subnav__item.top-subnav__item_burger {
    margin-left: auto;
  }
  header .top-nav .top-subnav__item.top-subnav__item_burger .burger-btn {
    position: fixed;
    right: 6%;
    top: 7%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    z-index: 2;
  }
  header .top-nav .top-subnav__item.top-subnav__item_burger .burger-btn span {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    left: 7px;
    z-index: 2;
    transition: transform 0.5s, opacity 0.5s;
  }
  header .top-nav .top-subnav__item.top-subnav__item_burger .burger-btn span:nth-child(1) {
    transform: translateY(-6px);
  }
  header .top-nav .top-subnav__item.top-subnav__item_burger .burger-btn span:nth-child(3) {
    transform: translateY(6px);
  }
  header .top-nav .top-subnav.top-subnav_burger-menu {
    position: fixed;
    top: 45px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 208px;
    padding: 15px 5px;
    background-color: #46466e;
    border-radius: 0 0 12px 12px;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  header .top-nav .top-subnav.top-subnav_burger-menu a {
    display: block;
    padding: 10px;
  }
  header #mobile-nav.open .top-subnav_burger-menu {
    transform: translateX(0);
  }
  header #mobile-nav.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    opacity: 0.8;
  }
  header #mobile-nav.open span:nth-child(2) {
    opacity: 0;
  }
  header #mobile-nav.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    opacity: 0.8;
  }
  #services h2 {
    padding-bottom: 30px;
  }
  #services .service-container {
    flex-direction: column;
    gap: 30px;
  }
  #services .service-container .service-card {
    width: 100%;
  }
  #trust-us .brand-container .brand-container__item {
    width: 100%;
  }
  #trust-us .brand-container .brand-container__item:nth-child(7) img, #trust-us .brand-container .brand-container__item:nth-child(8) img, #trust-us .brand-container .brand-container__item:nth-child(9) img, #trust-us .brand-container .brand-container__item:nth-child(10) img, #trust-us .brand-container .brand-container__item:nth-child(11) img, #trust-us .brand-container .brand-container__item:nth-child(12) img {
    display: none;
  }
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer .footer-container {
    align-items: center;
  }
  footer .footer-container .footer-container__item {
    flex-direction: column;
  }
}